<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title, position%>
    </title>
    <link type="text/css" rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <div class="header">
        <h1>
            <%= title%>: <%= position%>
        </h1>
    </div>
    <div>
        <div class="maincontent">
            <div class="button left"><button><img src="/assets/arrow.svg" alt=""></button></div>
            <img src="<%= URL%>" alt="" id="gallery">
            <div class="text">
                <div class="bold"><%= name%></div>
                <div class="notbold"><%= description%></div>
            </div>
            <div class="button right"><button><img src="/assets/arrow.svg" alt=""></button></div>
        </div>
    </div>
</body>

</html>